name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create ZIP
        run: |
          cd custom_components/idfm_trafic
          zip -r ../../idfm_trafic.zip ./*
          cd ../..
          ls -lh idfm_trafic.zip

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          files: idfm_trafic.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
